html,body{height: 100%;}
body{background: #eee}

/*---------------------------
General
---------------------------*/
.animate{
	-webkit-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;
}

/*
@@font-face {
	src: url(fonts/Jura/Jura-Regular.ttf);
	font-family: Jura;
}
*/

.button{display: inline-block; background: #fff; color: #000; padding: 15px 30px; border-radius: 3px; text-decoration: none; font-family: 'Jura', sans-serif;}
p{line-height: 22px; font-family: 'Jura', sans-serif; color: #007396;}
h1,h2{font-family: 'Jura', sans-serif; font-weight: bold;}
h3,h4{font-family: 'Jura', sans-serif; font-weight: bold; color: #007396;}
a{color: #007999;}
a:hover{color: #007396;}
input, textarea, label{font-family: 'Jura';}


/*---------------------------
Header
---------------------------*/
.header{background: #fff;}
.header__logo{color: #007396; float:left; display: block; padding: 5px; margin-left: 40px;}
.header__menu{float: right; margin: 0; margin-right: 40px; padding: 0;}
.header__menu__item{display: inline-block; font-family: 'Jura', sans-serif; font-weight: bold; color: #fff}
.header__menu__item a{color: #007396; display: block; padding: 15px}
.header__menu__item a:hover{background: #ddd}
.header__icon-bar{display: block; float: right; padding: 20px; display: none;}
.header__icon-bar span{display: block; height: 3px; width: 30px; background: #007396; margin-bottom: 5px}




/*---------------------------
Cover
---------------------------*/
.cover{height: 50%; background-image: url('https://source.unsplash.com/ltifWJbvhXM');
background-size: cover;
-o-background-size: cover;
-moz-bacground-size: cover;
background-position: center center;
position: relative;
} /* impostare l'altezza al 70% e pescare un immagine da un sito.
Impostare la grandezza dell'immagine quanto la nostra cover e centrarla per tutti i browser.
Position relative per permettere lo scorrimento. */
.cover__filter{background: #007396; width: 100%; height: 100%; position: absolute; z-index: 0; opacity: 1;}
.cover__caption{display: table; height: 100%; width: 100%; position: relative; z-index: 1; padding: 0 20px}
.cover__caption__copy{display: table-cell; vertical-align: middle; text-align: center; color: #fff;}

/* creo un modifier della cover per la pagina singola about !!! attenzione uso i dash '-' non l'underscore */
.cover--about{height: 30%}
.cover--about h1{font-size: 40px;}



/*---------------------------
Cards
---------------------------*/
.cards{max-width: 1200px; margin: 40px auto;}
/* (border: 1px solid red;) per vedere il bordo rosso, utile all'inizio per capire i margini ecc.
max width imposto larghezza massima dell'area cards con margini di 40px top bottom e automatica laterale */
.card{width: 30%; margin: 0 1.5%; background: #fff; float: left;}
.card__image{width: 100%; height: auto;}
.card__copy{padding: 5px 20px;}
.card__copy h3{margin-bottom: 0}



/*---------------------------
Banner
---------------------------*/
.banner{background: #fff; height: 50%; margin: 40px 60px}
.banner__image{width: 30%; float: left; height: 100%;
  background-image: url('https://source.unsplash.com/category/nature/400x400');
  background-size: cover;
  -o-background-size: cover;
  -moz-bacground-size: cover;
  background-position: center center;
}
.banner__about{background: #fff; height: 90%; margin: 40px 60px}
.banner__image__about{width: 30%; float: left; height: 100%;
	background-image: url('img/profile.jpg');
	background-size: cover;
  -o-background-size: cover;
  -moz-bacground-size: cover;
  background-position: center center;
}
.banner__contact{height: auto; margin: 40px 60px}

.banner__copy{width: 70%; float: left; height: 100%; display: table;}
.banner__copy__text{display: table-cell; vertical-align: middle; padding: 30px}
.banner__copy__text h3{font-size: 36px; margin-bottom: 0;}
.banner__copy__text h4{font-size: 22px; margin: 5px 0;}



/*---------------------------
About
---------------------------*/
.about{}
.about__copy{max-width: 800px; margin: 0px auto; margin-top: -60px; background: #fff; padding: 20px 40px; position: relative; z-index: 1;}
/* Position relative and z-index 1, to put the white article on the top of the cover */
.about__copy__meta{font-weight: bold; font-size: 18px; font-style: italic;}
.about__copy__title{font-size: 32px;}

/*---------------------------
Footer
---------------------------*/
.footer{background: #333; padding: 30px 70px; color: #fff; margin-top: 40px;}


/*---------------------------
Contact me
---------------------------*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
 width: 100%; /* Full width */
 padding: 12px; /* Some padding */
 border: 1px solid #ccc; /* Gray border */
 border-radius: 4px; /* Rounded borders */
 box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin-top: 6px; /* Add a top margin */
 margin-bottom: 16px; /* Bottom margin */
 resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: #007396;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #555;
}

/* Add a background color and some padding around the form */
.container {
 border-radius: 5px;
 background-color: #fff;
 padding: 20px;
}

/*---------------------------
Social bar
---------------------------*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
 position: fixed;
 top: 70%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
 display: block;
 text-align: center;
 padding: 16px;
 transition: all 0.3s ease;
 color: white;
 font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
 background-color: #555;
}

.facebook {
 background: #3B5998;
 color: white;
}

.twitter {
 background: #55ACEE;
 color: white;
}

.google {
 background: #dd4b39;
 color: white;
}

.linkedin {
 background: #007bb5;
 color: white;
}

.youtube {
 background: #bb0000;
 color: white;
}

.github {
	background: #000;
	color: white;
}



/*---------------------------
Tablet
---------------------------*/
@media  (max-width: 998px){
  /* banner */
  .banner__image,
  .banner__copy{width:50%; height:100%}
}


/*---------------------------
Smartphone
---------------------------*/
@media  (max-width: 767px){
  /* Header */
  .header{position:fixed; z-index: 100; width:100%}
	.header__icon-bar{display: block;}
	.header__menu{width:100%; height:0px; overflow: hidden;}
	.header__menu__item{display: block;}
	.is-open{height:250px; overflow: auto;}

  /* Cover */
  .cover{height: 100%;}

  /* Cards */
  .card{width: 90%; margin: 5%;}
  /* su smartphone voglio vedere le cards in verticale quindi aumento la larghezza 90% con top bottom e laterali 5% */

  /* Banner */
  .banner{height: 100%;}
	.banner__contact{height: auto; width: auto; margin: 60px;}
  .banner__image,
  .banner__copy{width: 100%; height: 50%;}

  /* about article */
  .about__copy{max-width: 80%; margin: 40px auto;}

}

/* with clearfix I avoit to find text after every section that include clearfix. Like pressing enter after a section */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* To keep the padding tidy also in smartphone mode */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
